/Calculator.class
/FunctionalProgramming.class
/SortUsingComarable.class
/SortUsingComparator.class
/Student.class
/SortByMarks.class
/SortByName.class
/SortByRoll.class
/Student1.class
/SortByAnynomusClass.class
/StudentClass.class
/SortByAnynomusClass$1.class
/PreDefineFunctionalInterface.class
/NonPrimitiveFunctionalInterface.class
/MethodReference.class
/Car.class
